body{
    background-color: lightblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
span{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
}
ul{
    border-bottom: solid;

}
li.one{
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
}
div.search{

    margin-right: 10px;
    text-align: right;
}
div.aside{
    margin-right: 10px;
    text-align: right;
}

span.one{
    font-size: large;
    font-style: oblique;
    color: darkblue;
    font-weight: bold;

}
li.big{
    font-size: xx-large;
    font-style: oblique;
    color: black;
    font-weight: bolder;
}