{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    <ul>
        {% for items in profile %}
        <div class="gaming-library">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>{{items.user}}'s</em> Library</h4>
            </div>
            <div class="item">
              <ul>
                <li><img src={{ items.cover_photo.url }} alt="" class="templatemo-item"></li>
                <li><h4>{{items.name}}</h4><span>Program</span></li>
                <li><h4>{{items.Date}}</h4><span>Date</span></li>
                <li><h4>{{items.start_time}}</h4><span>Time</span></li>
                <!--<li><h4>{{items.Dress_code}}</h4><span>Attire</span></li>-->
                <li><div class="main-border-button border-no-active"><a href="{% url 'edit_program' pk=items.id %}">update</a></div></li>
                <li><div class="main-border-button border-no-active"><a href="{% url 'delete_prog' pk=items.id %}">delete</a></div></li><br/>
                
              </ul>
            </div>
        
       
              
        {% endfor %}
        <li><div class="main-border-button border-no-active"><a href="{% url 'create_program' %}">Add Programs</a></div></li><br/>
               
      </ul>
     
</body>
{% endblock %}
