{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="most-popular">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-section">
          <h4><em>Available Programs </em></h4>
        </div>
        {% for items in program %}
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div clas{s="item">
              <img src={{ items.cover_photo.url }} alt="">
              <ul>
              <h4><li class="big">{{items|title}}</li><br>
                <li class="one">Time: {{items.start_time}}</li><br>
                 <br><br><span>Date: {{items.Date}}</span></h4>
              <ul>
                <li><i class="fa fa-star"></i> 4.8</li>
                <li><i class="fa fa-download"></i> 2.3M</li>
              </ul>
              </ul>
              {% endfor %}
            </div>
          </div>
          
{% endblock %}
          