<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'Suncity/main.css' %}">
    <head><title>SIGN IN</title></head>
    <body>
        {% block content %}
{% if form.errors and not form.non_field_errors %}
<p >
{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
</p>
{% endif %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p>
    {{ error }}
</p>
{% endfor %}
{% endif %}
        <form method="post" action="{url accounts:sign_in }">
            {% csrf_token %}
            <div >
                {{ form.username.errors }}
                {{ form.username.label_tag }} {{ form.username }}
              </div>
              <div class=>
                {{ form.password.errors }}
                {{ form.password.label_tag }} {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}">
              </div>
<p><input type="submit" value="Create Account"></p>
<p>Dont have an Accounts? <a href="sign in/">Create an account</a></p>

        </form>
    </body>
</html>